* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wForm {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border-top: 6px solid #009879;
  border-bottom: 2px solid #009879;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 50px;
  width: 400px;
  // height: 300px;
  padding: 30px;
  //border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  .wInput {
    margin: 15px;
    span {
      font-size: 26px;
      font-weight: 600;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
      padding: 4px;
      font-size: 16px;
      width: 400px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid green;
      outline: none;
      &:focus {
        -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 8px 4px rgba(120, 167, 237, 0.732);
      }
    }
  }
  .btnSubmit {
    width: 410px;
    height: 38px;
    padding: 4px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #009879;
    //background-color: rgb(57, 57, 63);
    color: white;
    border: 3px solid #56b8a4;
    cursor: pointer;
    &:hover {
      background-color: #56b8a4;
    }
  }
}

.wrapTable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.table {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 600px;
  max-width: 800px;
  .head_table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px 8px 0 0;
    border: 1px solid green;
    span {
      padding: 10px;
      min-width: 100px;
      border: 1px solid blue;
    }
  }
  .wrap_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    padding: 20px;
    span {
      padding: 10px;
      width: 100px;
      border: 1px solid blue;
    }
  }
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 600px;
  max-width: 1200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

a {
  text-decoration: none;
}

.btn {
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn_mod {
  background-color: rgb(60, 142, 241);
}

.btn_canc {
  background-color: rgb(230, 71, 71);
}

#div_add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  #wrap_btn_add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 600px;
    max-width: 1000px;
    height: 30px;
    #btn_add {
      width: 50px;
      height: 26px;
      background-color: rgb(60, 142, 241);
    }
  }
}

.x {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #009879;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #56b8a4;
    }
  }
}
